.main-container{
    height: 100vh;
}

.secondary-container{
    width: 22rem;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(210, 203, 203), 0 6px 20px 0 whitesmoke;
    padding: 1rem 2rem;
}

.main-title{
    font-size: 1.3rem;
    color: rgb(66, 64, 64);
    font-weight: 500;
    margin: 0;
}
.secondary-title{
    font-size: 0.8rem;
    font-weight: 200;
    color: rgb(116, 114, 114);
    margin: 0;
}

.input-field{
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 0.2rem;
    border: 1px solid rgb(213, 210, 210);
}

.error-text{
    font-size: 0.8rem;
    margin-top: 0.1rem;
}

.forgot-password{
    font-size: 0.75rem;
}

.divider{
    display: flex;
    width: -webkit-fill-available;
    align-items: flex-start;
}

.div-line{
    width: 28%;
}

.other-option{
    font-size: 0.8rem;
    text-align: center;
    color: rgb(66, 64, 64);
}
.other-option a{
    text-decoration: none;
}

