<div class="sub-titles d-flex justify-content-between p-3 align-items-center">
    <div class="category-div d-flex justify-content-between column-gap-5 align-items-center">
        <h2 class="match-title">MATCHES</h2>
        <div class="vl d-none d-md-block "></div>
        <h4 class="category-title d-none d-md-block">Men's Team</h4>
        <h4 class="category-title d-none d-md-block">Women's Team</h4>
        <h4 class="category-title d-none d-md-block">Under 21</h4>
        <h4 class="category-title d-none d-md-block">Under 17</h4>
    </div>
    <button class="btn btn-outline-primary">All Fixtures</button>
</div>