<div class="table-div">
    <div class="table-title d-flex justify-content-between align-items-center p-2 ">
        <div class="time-date d-flex justify-content-between align-items-center ">
            <p class="date m-0">23</p>
            <p class="day m-0">Monday<br>June</p>
        </div>
        <div class="status">
            <p class="m-0 day">Last Played</p>
        </div>
    </div>
    <div class="table-main d-flex justify-content-evenly align-items-center mt-4">
        <div class="club-details d-flex flex-column justify-content-around align-items-center">
            <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
            <p>Paro FC</p>
        </div>
        <div class="vs-section d-flex flex-column align-items-center row-gap-4">
            <img src="../../../../assets/trophy.svg" alt="" class="trophy-icon">
            <div class="scores">
                <p class="m-0">3 : 1</p>
            </div>
            <p class="stadium-name">Football Stidum</p>
        </div>
        <div class="club-details d-flex flex-column justify-content-around align-items-center">
            <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
            <p>Paro FC</p>
        </div>
    </div>
    <div class="other-options-button d-flex justify-content-evenly p-2">
        <button class="btn btn-outline-secondary table-btn">HIGHLIGHTS</button>
        <button class="btn btn-outline-secondary table-btn">MATCH REPORTS</button>
    </div>
</div>