<div class="table-div">
    <div class="table-title d-flex justify-content-between align-items-center p-2 ">
        <div class="time-date d-flex justify-content-between align-items-center ">
            <p class="date m-0">23</p>
            <p class="day m-0">Monday<br>June</p>
        </div>
        <div class="status">
            <p class="m-0 day">Last Played</p>
        </div>
    </div>
    <div class="table-main d-flex justify-content-evenly align-items-center mt-4">
        <div class="club-details d-flex flex-column justify-content-around align-items-center">
            <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
            <p>Paro FC</p>
        </div>
        <div class="vs-section d-flex flex-column align-items-center row-gap-4">
            <img src="../../../../assets/trophy.svg" alt="" class="trophy-icon">
            <div class="match-time d-flex align-items-center column-gap-3">
                <h3 class="count-down">01<br><span>DAYS</span></h3>
                <h3 class="count-down">04<br><span>HOURS</span></h3>
                <h3 class="count-down">50<br><span>MINS</span></h3>
                <h3 class="count-down">03<br><span>SEC</span></h3>
            </div>
            <p class="stadium-name">Football Stidum</p>
        </div>
        <div class="club-details d-flex flex-column justify-content-around align-items-center">
            <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
            <p>Paro FC</p>
        </div>
    </div>
    <div class="other-options-button d-flex justify-content-evenly p-2">
        <button class="btn btn-outline-secondary table-btn">BUY TICKETS</button>
        <button class="btn btn-outline-secondary table-btn">MAKE BETS</button>
        <button class="btn btn-outline-secondary table-btn">MORE DETAILS</button>
    </div>
</div>