<app-navbar></app-navbar>
<div class="has-bg-img main-container d-flex justify-content-around align-items-center  flex-sm-row flex-column">
    <h2 class="display-2 main-title text-center">Score with Every Tap<br> Your Ultimate Soccer App</h2>
    <img class="d-none d-md-block" src="../../../../assets/hero-image.png" alt="player">
</div>
<div class="secondary-div">
    <app-category-title></app-category-title>
    <div class="container-fluid table-section">
        <div class="row d-flex">
          <div class="col-md-3 col-12 mt-3">
            <app-match-played></app-match-played>
          </div>
          <div class="col-md-6 col-12 mt-3" >
            <app-upcoming-match></app-upcoming-match>
          </div>
          <div class="col-md-3 col-12 mt-3">
            <app-mini-fixture></app-mini-fixture>
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>