<app-navbar></app-navbar>
<div class="has-bg-img main-container d-flex justify-content-around align-items-center  flex-sm-row flex-column">
    <h2 class="display-2 main-title text-center">Score with Every Tap<br> Your Ultimate Soccer App</h2>
    <img class="d-none d-md-block" src="../../../../assets/hero-image.png" alt="player">
</div>
<div class="secondary-div">
    <div class="sub-titles d-flex justify-content-between p-3 align-items-center">
        <div class="category-div d-flex justify-content-between column-gap-5 align-items-center">
            <h2 class="match-title">MATCHES</h2>
            <div class="vl d-none d-md-block "></div>
            <h4 class="category-title d-none d-md-block">Men's Team</h4>
            <h4 class="category-title d-none d-md-block">Women's Team</h4>
            <h4 class="category-title d-none d-md-block">Under 21</h4>
            <h4 class="category-title d-none d-md-block">Under 17</h4>
        </div>
        <button class="btn btn-outline-primary">All Fixtures</button>
    </div>
    <div class="container-fluid table-section">
        <div class="row d-flex">
          <div class="col-md-3 col-12 mt-3">
            <div class="table-div">
                <div class="table-title d-flex justify-content-between align-items-center p-2 ">
                    <div class="time-date d-flex justify-content-between align-items-center ">
                        <p class="date m-0">23</p>
                        <p class="day m-0">Monday<br>June</p>
                    </div>
                    <div class="status">
                        <p class="m-0 day">Last Played</p>
                    </div>
                </div>
                <div class="table-main d-flex justify-content-evenly align-items-center mt-4">
                    <div class="club-details d-flex flex-column justify-content-around align-items-center">
                        <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
                        <p>Paro FC</p>
                    </div>
                    <div class="vs-section d-flex flex-column align-items-center row-gap-4">
                        <img src="../../../../assets/trophy.svg" alt="" class="trophy-icon">
                        <div class="scores">
                            <p class="m-0">3 : 1</p>
                        </div>
                        <p class="stadium-name">Football Stidum</p>
                    </div>
                    <div class="club-details d-flex flex-column justify-content-around align-items-center">
                        <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
                        <p>Paro FC</p>
                    </div>
                </div>
                <div class="other-options-button d-flex justify-content-evenly p-2">
                    <button class="btn btn-outline-secondary table-btn">HIGHLIGHTS</button>
                    <button class="btn btn-outline-secondary table-btn">MATCH REPORTS</button>
                </div>
            </div>
          </div>
          <div class="col-md-6 col-12 mt-3" >
            <div class="table-div">
                <div class="table-title d-flex justify-content-between align-items-center p-2 ">
                    <div class="time-date d-flex justify-content-between align-items-center ">
                        <p class="date m-0">23</p>
                        <p class="day m-0">Monday<br>June</p>
                    </div>
                    <div class="status">
                        <p class="m-0 day">Last Played</p>
                    </div>
                </div>
                <div class="table-main d-flex justify-content-evenly align-items-center mt-4">
                    <div class="club-details d-flex flex-column justify-content-around align-items-center">
                        <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
                        <p>Paro FC</p>
                    </div>
                    <div class="vs-section d-flex flex-column align-items-center row-gap-4">
                        <img src="../../../../assets/trophy.svg" alt="" class="trophy-icon">
                        <div class="match-time d-flex align-items-center column-gap-3">
                            <h3 class="count-down">01<br><span>DAYS</span></h3>
                            <h3 class="count-down">04<br><span>HOURS</span></h3>
                            <h3 class="count-down">50<br><span>MINS</span></h3>
                            <h3 class="count-down">03<br><span>SEC</span></h3>
                        </div>
                        <p class="stadium-name">Football Stidum</p>
                    </div>
                    <div class="club-details d-flex flex-column justify-content-around align-items-center">
                        <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
                        <p>Paro FC</p>
                    </div>
                </div>
                <div class="other-options-button d-flex justify-content-evenly p-2">
                    <button class="btn btn-outline-secondary table-btn">BUY TICKETS</button>
                    <button class="btn btn-outline-secondary table-btn">MAKE BETS</button>
                    <button class="btn btn-outline-secondary table-btn">MORE DETAILS</button>
                </div>
            </div>
          </div>
          <div class="col-md-3 col-12 mt-3">
            <div class="table-title d-flex justify-content-between align-items-center p-2 ">
                <p class="m-0 leauge-title">PRIME<br>LEAUGE</p>
                <p class="m-0 full-table">Full Table</p>
            </div>
            <div class="table-header">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">P</th>
                        <th scope="col">W</th>
                        <th scope="col">D</th>
                        <th scope="col">L</th>
                        <th scope="col">Pts</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><img src="../../../../assets/parofc.png" alt="" class="table-logo"></td>
                        <td>Paro FC</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td>7</td>
                        <td>11</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td><img src="../../../../assets/parofc.png" alt="" class="table-logo"></td>
                        <td>Paro FC</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td>7</td>
                        <td>11</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td><img src="../../../../assets/parofc.png" alt="" class="table-logo"></td>
                        <td>Paro FC</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td>7</td>
                        <td>11</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td><img src="../../../../assets/parofc.png" alt="" class="table-logo"></td>
                        <td>Paro FC</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td>7</td>
                        <td>11</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td><img src="../../../../assets/parofc.png" alt="" class="table-logo"></td>
                        <td>Paro FC</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td>7</td>
                        <td>11</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td><img src="../../../../assets/parofc.png" alt="" class="table-logo"></td>
                        <td>Paro FC</td>
                        <td>2</td>
                        <td>3</td>
                        <td>3</td>
                        <td>7</td>
                        <td>11</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>