<div class=" container d-flex justify-content-between align-items-center border-bottom pb-1 ps-0">
    <p class="match-dates m-0">Sat 25 June</p>
    <p class="club-name m-0">Paro FC</p>
    <div class="vs-div d-flex justify-content-evenly align-items-center mt-3 column-gap-3">
        <img src="../../../../assets/parofc.png" alt="team logo" class="logo">
        <p class="match-time m-0">3:00 PM</p>
        <img src="../../../../assets/parofc.png" alt="team logo" class="logo">
    </div>
    <p class="club-name m-0">Paro FC</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openModal()">Buy Ticket</button>
</div>


<div class="modal" id="ticket-Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Buy Ticket</h4> 
        </div>
        <div class="modal-body">
          <div class="date-stadium d-flex justify-content-between align-items-center mb-3">
            <h4 class="stadium-name">Changlimi Thang</h4>
            <h5 class="date-day">12 June 2023</h5>
          </div>
          <div class="match-details d-flex align-items-center justify-content-evenly">
            <div class="club-details d-flex flex-column justify-content-around align-items-center">
              <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
              <p>Paro FC</p>
          </div>
              <h2 class="stadium-name">VS</h2>
          
          <div class="club-details d-flex flex-column justify-content-around align-items-center">
              <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
              <p>Paro FC</p>
          </div>
          </div>
      </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal()">Procced For Payment</button>
        </div>
      </div>
    </div>
  </div>