.match-dates {
  font-size: 1rem;
  font-weight: 200;
}

.club-name {
  font-size: 1.2rem;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.modal-header {
  background-color: rgb(244, 94, 119);
}
.club-logo {
  height: 6rem;
  width: 4rem;
}

.club-details {
  color: rgb(51, 50, 50);
  font-weight: 400;
}

.modal-title {
  font-size: 1.5rem;
  color: rgb(51, 50, 50);
  font-weight: 400;
  color: white;
}
.stadium-name {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(51, 50, 50);
}
.date-day {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(51, 50, 50);
}
