<div
class="container d-flex justify-content-between align-items-center border-bottom pb-1 ps-0"
>
<div
  class="justify-content-around align-items-center width-100% col-sm-2 col-xs-none"
>
  <p class="match-dates m-0">
    {{
      data.dayDateMonth.date +
        " " +
        data.dayDateMonth.day +
        " " +
        data.dayDateMonth.month
    }}
  </p>
</div>
<div
  class="d-flex justify-content-around align-items-center col-sm-2 col-xs-none"
>
  <p class="club-name m-0">{{ data.teamOne }}</p>
</div>
<div
  class="vs-div d-flex justify-content-evenly align-items-center mt-3 column-gap-3 col-sm-3 col-xs-none"
>
  <img [src]="data.teamOneLogo" alt="team logo" class="logo" />
  <p class="match-time m-0">{{ data.time }}</p>
  <img [src]="data.teamTwoLogo" alt="team logo" class="logo" />
</div>
<div
  class="d-flex justify-content-around align-items-center col-sm-2 col-xs-none"
>
  <p class="club-name m-0">{{ data.teamTwo }}</p>
</div>
<div
  class="d-flex justify-content-around align-items-center col-sm-3 col-xs-none"
>
  <button class="btn btn-primary" (click)="openModal()">Book Ticket</button>
</div>
</div>




<!-- <div class="modal" id="ticket-Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Buy Ticket</h4> 
        </div>
        <div class="modal-body">
          <div class="date-stadium d-flex justify-content-between align-items-center mb-3">
            <h4 class="stadium-name">Changlimi Thang</h4>
            <h5 class="date-day">12 June 2023</h5>
          </div>
          <div class="match-details d-flex align-items-center justify-content-evenly">
            <div class="club-details d-flex flex-column justify-content-around align-items-center">
              <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
              <p>Paro FC</p>
          </div>
              <h2 class="stadium-name">VS</h2>
          
          <div class="club-details d-flex flex-column justify-content-around align-items-center">
              <img src="../../../../assets/club-logo.png" alt="club logo" class="club-logo">
              <p>Paro FC</p>
          </div>
          </div>
      </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal()">Procced For Payment</button>
        </div>
      </div>
    </div>
  </div> -->