<div class=" container d-flex justify-content-between align-items-center border-bottom pb-1 ps-0">
    <p class="match-dates m-0">Sat 25 June</p>
    <p class="club-name m-0">Paro FC</p>
    <div class="vs-div d-flex justify-content-evenly align-items-center mt-3 column-gap-3">
        <img src="../../../../assets/parofc.png" alt="team logo" class="logo">
        <p class="match-time m-0">3:00 PM</p>
        <img src="../../../../assets/parofc.png" alt="team logo" class="logo">
    </div>
    <p class="club-name m-0">Paro FC</p>
    <button class="btn btn-primary">Buy Ticket</button>
</div>